body {
  background: #5D4157;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font: 60px;
  color: antiquewhite;
  font-style: sans-serif;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 50px;
  color: antiquewhite;
  font-style: sans-serif;
}

#timer,
#question,
#answers,
#quizMessage,
#correct,
#wrong,
#missed {
  font-size: 50px;
  color: antiquewhite;
  font-style: sans-serif;
}
.hidden {
  display: none; }
#wrapper {
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  padding: 20px;
  /* margin-bottom: 100px; */
}
#testimonials {
  border-bottom: 2px dashed black;
  font-size: 50px; }
 q{
   size:30px;
 }
  #testimonials p {
    padding: 20px;; }
    #testimonials li{ 
      display:none;
    }
    #testimonials ul{
      list-style:none;
    } 

#start_button {
  margin-left: 200px;
  font-size: 30px;
  display: block;
  color: brown;
}
span{
  font-size:50px;
  color: violet;
  font-weight: bold;
  text-align: center;
  margin-left: 50px;

}
ul {
  list-style-type: none;
}
.img{
  width: 200px;
  height: 150px;
  margin-left:100px;
  opacity:0.6;
  border:1px solid black;
}
#fact{
  font-size:50px;
  color:blanchedalmond;
  text-align: auto;
}
.jumbotron{
  background: #5D4157;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 0px;
  background-position: 0% 25%;
background-size: cover;
background-repeat: no-repeat;
height:230px;
width:100%;

  
}
